{% extends "base.html" %} {% block content %}
<head>
  <link rel="stylesheet" href="static/css/home.css" />
  <script src="static/js/home.js"></script>
</head>
<section class="hero">
  <div class="hero-content">
    {% if laboratorio.imagem %}
  <img src="{{ laboratorio.imagem }}" width="500">
{% else %}
  <div class="image-missing"></div>
{% endif %}
    <div>
      <div class="hero-slogan">
        <h1>Laboratório Cultural</h1>
        <p>
          Um espaço de promoção da cultura, criatividade e expressão artística
          dentro e fora do ISPGAYA
        </p>
      </div>
      <p class="hero-details">
        O Laboratório Cultural do ISPGAYA é um espaço dedicado à promoção da
        cultura e da expressão artística, dentro e fora da instituição. Aqui são
        divulgados eventos, iniciativas e clubes culturais da região do Grande
        Porto, incentivando a participação ativa dos estudantes e o contacto com
        a comunidade envolvente. Uma plataforma dinâmica que aproxima talento,
        criatividade e oportunidades culturais.
      </p>
      <a href="{{ laboratorio.botao_link }}" class="link-btn">
  {{ laboratorio.botao_texto }}
</a>
    </div>
  </div>
</section>
<section>
  <h2>Clubes Culturais</h2>
  <div class="cultural-cards">
  {% for clube in clubes %}
<div class="card">
  <div class="card-image">
    {% if clube.imagem %}
  <img src="{{ clube.imagem }}" />
{% else %}
  <div class="image-missing"></div>
{% endif %}
  </div>
  <div class="card-details">
    <p class="card-title">{{ clube.nome }}</p>

    <a href="{{ clube.link }}" class="card-link">
      Ver mais
    </a>
  </div>
</div>
{% endfor %}
</section>
<section id="agenda-cultural">
  <h2>Agenda Cultural</h2>
  {% for evento in eventos %}
<div class="event-section">
  <div>
    <p>{{ evento.descricao }}</p>
    <p>Local: {{ evento.local }}</p>
    <p>Data: {{ evento.data_evento }}</p>
  </div>

  <div>
    {% if evento.imagem %}
      <img src="{{ evento.imagem }}" width="200">
    {% else %}
      <div class="image-missing"></div>
    {% endif %}
  </div>
</div>
{% endfor %}
</section>
<section>
  <h2>Galeria</h2>

  <div class="gallery-grid">

    {% if galerias and galerias|length > 0 %}

      {% for imagem in galerias %}
        <div class="gallery-item">
          {% if imagem.caminho_imagem %}
            <img src="{{ imagem.caminho_imagem }}" />
          {% else %}
            <div class="image-missing"></div>
          {% endif %}
        </div>
      {% endfor %}

    {% else %}

      <div class="image-missing" style="width: 200px"></div>

      <div>
        <div class="image-missing" style="width: 100px"></div>
        <div class="image-missing" style="width: 100px"></div>
      </div>

      <div>
        <div class="image-missing" style="width: 100px"></div>
        <div class="image-missing" style="width: 100px"></div>
      </div>

      <div class="image-missing" style="width: 200px"></div>

    {% endif %}

  </div>
</section>

{% endblock %}
