{% extends "base.html" %} {% block content %}
<head>
  <link rel="stylesheet" href="static/css/home.css" />
  <script src="static/js/home.js"></script>
</head>
<section class="hero">
  <div class="hero-content">
    {% if laboratorio.imagem %}
    <img src="{{ laboratorio.imagem.url }}" width="500" />
    {% else %}
    <div class="image-missing"></div>
    {% endif %}
    <div>
      <div class="hero-slogan">
        <h1>Laboratório Cultural</h1>
        <p>
          Um espaço de promoção da cultura, criatividade e expressão artística
          dentro e fora do ISPGAYA
        </p>
      </div>
      <p class="hero-details">
        O Laboratório Cultural do ISPGAYA é um espaço dedicado à promoção da
        cultura e da expressão artística, dentro e fora da instituição. Aqui são
        divulgados eventos, iniciativas e clubes culturais da região do Grande
        Porto, incentivando a participação ativa dos estudantes e o contacto com
        a comunidade envolvente. Uma plataforma dinâmica que aproxima talento,
        criatividade e oportunidades culturais.
      </p>
      <a href="{{ laboratorio.botao_link }}" class="link-btn">
        {{ laboratorio.botao_texto }}
      </a>
    </div>
  </div>
</section>
<section class="lab-cultural-section">
  <div class="missao-container">
    <h2>Missão</h2>
    <p class="missao-texto">
      A missão do Laboratório Cultural do ISPGAYA é funcionar como um polo
      dinâmico de convergência entre a ciência, a tecnologia, o empreendedorismo
      e as artes. Comprometemo-nos a estimular a criatividade e o pensamento
      crítico da comunidade académica, promovendo o desenvolvimento cultural
      local e a inclusão social através de projetos interdisciplinares, da
      cocriação e da valorização do património material e imaterial de Vila Nova
      de Gaia.
    </p>
  </div>

  <div class="objetivos-container">
    <h2>Objetivos</h2>

    <div class="objetivos-grid">
      <div class="objetivo-card">
        <div class="objetivo-numero">01</div>
        <h3>Inovação Interdisciplinar</h3>
        <p>
          Promover projetos que unam a engenharia, a informática e a gestão às
          indústrias criativas, servindo de incubadora para ideias de estudantes
          e docentes.
        </p>
      </div>

      <div class="objetivo-card">
        <div class="objetivo-numero">02</div>
        <h3>Ligação à Comunidade e Território</h3>
        <p>
          Levar a produção cultural do ISPGAYA para as ruas de Gaia, colaborando
          com autarquias e preservando a identidade e memória histórica local.
        </p>
      </div>

      <div class="objetivo-card">
        <div class="objetivo-numero">03</div>
        <h3>Desenvolvimento de Competências</h3>
        <p>
          Capacitar os estudantes com soft skills essenciais (pensamento
          crítico, empatia, trabalho em equipa) e ferramentas de
          empreendedorismo cultural.
        </p>
      </div>

      <div class="objetivo-card">
        <div class="objetivo-numero">04</div>
        <h3>Sustentabilidade e Inclusão</h3>
        <p>
          Garantir atividades acessíveis e diversas para toda a comunidade,
          incentivando práticas artísticas eco-criativas com baixa pegada
          ecológica.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <h2>Clubes Culturais</h2>
  <div class="cultural-cards">
    {% for clube in clubes %}
    <div class="card">
      {% if clube.imagem %}
      <div class="card-image">
        <img src="{{ clube.imagem.url }}" />
      </div>
      {% else %}
      <div class="image-missing"></div>
      {% endif %}
      <div class="card-details">
        <p class="card-title">{{ clube.nome }}</p>

        <a href="/clubes/{{ clube.slug }}" class="card-link">Ver mais</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section id="agenda-cultural">
  <h2>Agenda Cultural</h2>
  {% for evento in eventos %}
  <div class="event-section">
    <div>
      <h3>{{ evento.titulo }}</h3>
      <p>{{ evento.descricao }}</p>
      <p><span>Local:</span> {{ evento.local }}</p>
      <p><span>Data:</span> {{ evento.data_evento }}</p>
    </div>

    {% if evento.imagem %}
    <div class="event-image">
      <img src="{{ evento.imagem.url }}" />
    </div>
    {% else %}
    <div class="image-missing"></div>
    {% endif %}
  </div>
  {% endfor %}
</section>
<section>
  <h2>Galeria</h2>

  <div class="gallery-grid">
    {% if galerias and galerias|length > 0 %} {% for imagem in galerias %}
    <div class="gallery-item">
      {% if imagem.caminho_imagem %}
      <img src="{{ imagem.imagem.url }}" />
      {% else %}
      <div class="image-missing"></div>
      {% endif %}
    </div>
    {% endfor %} {% else %}
    <div class="gallery-layout">
      <div class="image-missing"></div>

      <div>
        <div class="image-missing"></div>
        <div class="image-missing"></div>
      </div>

      <div>
        <div class="image-missing"></div>
        <div class="image-missing"></div>
      </div>

      <div class="image-missing"></div>
    </div>

    {% endif %}
  </div>
</section>

{% endblock %}
