.hero h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  margin-bottom: 40px;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.hero-image {
  background: #000;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3rem;
  border-radius: 6px;
  overflow: hidden;
}

/* Coloca uma imagem aqui */
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  background: #fff;
  border: 1px solid #ccc;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.hero-text h2 {
  text-align: left;
  margin-bottom: 25px;
  font-size: 2.3rem;
}

.hero-text p {
  font-size: 1rem;
  color: #333;
  text-align: justify;
}

/* ================= EVENTOS ================= */

.calendar-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 40px;
}

.fc .fc-toolbar-title {
  color: #fff;
}

#calendar {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.fc .fc-daygrid-day-frame {
  min-height: 120px;
}

#modalImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

#modalTitle {
  margin-bottom: 15px;
}

#modalDate,
#modalLocation {
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-content {
  animation: popup 0.25s ease;
}

@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* ================= FORM ================= */

.join h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}

.join-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.join-form input {
  padding: 16px;
  border: 1px solid #c4c4c4;
  border-radius: 14px;
  color: #4a4a4a;
  font-size: 1rem;
  outline: none;
}

.join-form input:focus {
  border-color: #fb923c;
}

.join-form input::placeholder {
  color: #4a4a4a;
}

.join-form button {
  align-self: center;
  padding: 14px 40px;
  border: none;
  background: #fb923c;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s;
}

.join-form button:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

/* ================= RESPONSIVO ================= */

@media (max-width: 900px) {
  .hero-content {
    grid-template-columns: 1fr;
  }

  .books-grid {
    grid-template-columns: 1fr 1fr;
  }

  .calendar-box {
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  section {
    padding: 50px 0;
  }

  .books-grid {
    grid-template-columns: 1fr;
  }

  .hero-image {
    height: 300px;
  }

  .hero-text {
    padding: 25px;
  }

  .calendar-box {
    padding: 30px;
    font-size: 1.1rem;
  }

  h2 {
    font-size: 2.2rem !important;
  }
}

/* ================= NOTÍCIAS ================= */

.news-section {
  padding: 64px 80px;
  background: #efefef;
}

.container {
  width: min(1200px, 90%);
  margin: auto;
}

.news-title {
  font-size: 4rem;
  margin-bottom: 70px;
}

.news-card {
  display: grid;
  grid-template-columns: 1.3fr 0.8fr;
  gap: 60px;
  align-items: center;
  margin-bottom: 80px;
}

.news-text h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 25px;
  color: #111;
}

.news-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #222;
  max-width: 700px;
}

.news-image {
  width: 100%;
  height: 300px;
  background: #000;
  border-radius: 10px;
}

.news-image img {
  height: 100%;
  object-fit: fill;
}

/* ================= BOTÃO ================= */

.news-button-wrapper {
  text-align: center;
  margin-top: 40px;
}

.news-button {
  background: #c2410c;
  color: #fff;
  border: none;
  padding: 18px 70px;
  font-size: 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.news-button:hover {
  transform: scale(1.03);
  opacity: 0.95;
}

.news-subtitle {
  margin-top: 25px;
  font-size: 2rem;
  color: #111;
}

/* ================= RESPONSIVO ================= */

@media (max-width: 900px) {
  .news-card {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .news-image {
    height: 220px;
  }

  .news-text h3 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .news-title {
    font-size: 3rem;
  }

  .news-text h3 {
    font-size: 2.3rem;
  }

  .news-subtitle {
    font-size: 1.4rem;
  }

  .news-button {
    width: 100%;
  }
}

.gallery-grid {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gallery-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.gallery-layout > div {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image-missing {
  width: 20%;
  aspect-ratio: 16/9;
  background: #c4c4c4;
  border-radius: 8px;
}

.gallery-layout > div .image-missing {
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.modal-content {
  background: white;

  padding: 30px;

  border-radius: 12px;

  width: 400px;
  max-width: 90%;

  position: relative;
}

.hidden {
  display: none;
}

#modal-close {
  position: absolute;

  top: 10px;
  right: 15px;

  font-size: 24px;

  cursor: pointer;
}

.modal-participar{
  border: none;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.2s;
}

.hidden-news {
  display: none;
}

