<footer>
  <div class="footer-content">
    <div class="footer-grid">
      <div>
        <img
          src="static/images/ispgaya-logo-white.svg"
          alt="ISPGAYA Logo"
          width="175"
        />
        <p class="footer-title">Segue-nos</p>
        <div class="social-links">
          <a href="https://www.facebook.com/ispgaya" target="_blank">
            <img
              src="static/images/icons/facebook-icon.svg"
              alt="Facebook Icon"
              width="24"
            />
          </a>
          <a href="https://www.instagram.com/ispgaya/" target="_blank">
            <img
              src="static/images/icons/instagram-icon.svg"
              alt="Instagram Icon"
              width="24"
            />
          </a>
          <a href="https://www.linkedin.com/school/ispgaya/" target="_blank">
            <img
              src="static/images/icons/linkedin-icon.svg"
              alt="LinkedIn Icon"
              width="24"
            />
          </a>
        </div>
      </div>
      <div>
        <p class="footer-title">Ensino</p>
        <a href="https://ispgaya.pt/pt/ensino/oferta-formativa/ctesp">CTeSP</a>
        <a href="https://ispgaya.pt/pt/ensino/oferta-formativa/licenciaturas">Licenciaturas</a>
        <a href="https://ispgaya.pt/pt/ensino/oferta-formativa/mestrados">Mestrados</a>
        <a href="https://ispgaya.pt/pt/ensino/programas-avancados/pos-graduacoes">Pós-Graduações</a>
        <a href="https://ispgaya.pt/pt/ensino/candidaturas">Candidaturas</a>
        <a href="https://ispgaya.pt/pt/ensino/bolsas-e-financiamento">Bolsas e Financiamento</a>
        <a href="https://ispgaya.pt/pt/ensino/programas-avancados">Programas Avançados</a>
      </div>
      <div>
        <p class="footer-title">ISPGAYA HUB</p>
        <a href="https://inforestudante.ispgaya.pt/">Inforestudante</a>
        <a href="https://infordocente.ispgaya.pt/">Infordocente</a>
        <a href="https://www.office.com/?omkt=pt-pt">Email</a>
        <a href="https://ispgaya.pt/files/tutorial_configuracao_rede_wireless.pdf">Wi-Fi</a>
        <a href="https://password.ispgaya.pt/">Password</a>
        <a href="https://ispgaya.pt/pt/cartao-ispgaya">Cartão ISPGAYA</a>
        <a href="https://brand.ispgaya.pt/">Identidade Visual</a>
      </div>
      <div>
        <p class="footer-title">Links de Interesse</p>
        <a href="https://www.dges.gov.pt/pt">DGES</a>
        <a href="https://www.a3es.pt/pt">A3ES</a>
        <a href="https://cienciavitae.pt/">Ciência Vitae</a>
        <a href="https://www.portugal.gov.pt/">Governo de Portugal</a>
        <a href="https://ispgaya.pt/projetos-cofinanciados">Projetos Cofinanciados</a>
        <a href="https://ispgaya.pt/pt/repositorio-de-documentos">Repositório de Documentos</a>
      </div>
      <div>
        <p class="footer-title">Contactos</p>
        <p class="address">
          Av. dos Descobrimentos, 333<br />
          4400-103 Santa Marinha - V.N.Gaia
        </p>
        <p class="contact">(+351) 223 745 730
          <span class="contact-warning">
            O valor da chamada corresponde ao valor de uma chamada para a rede
            fixa, em função do seu plano tarifário.
          </span>
        </p>
        <p>info@ispgaya.pt</p>
        <div class="certificates">
          <img src="static/images/certificates/ISO-9001.svg" alt="ISO 9001" width="62">
          <img src="static/images/certificates/ISO-14001.svg" alt="ISO 14001" width="62">
          <img src="static/images/certificates/ISO-21001.svg" alt="ISO 21001" width="62">
          <img src="" alt="">
          <img src="" alt="">
        </div>
      </div>
    </div>
    <div class="footer-details">
      <div>
        <span>© 2026 Instituto Superior Politécnico Gaya</span>
        <span>Atualizado em 08/04/2026</span>
      </div>
      <div>
        <a href="https://ispgaya.pt/pt/legal/termos-e-condicoes"
          >Termos e Condições</a
        >
        <span>/</span>
        <a href="https://ispgaya.pt/pt/legal/politica-de-privacidade"
          >Política de Privacidade</a
        >
      </div>
    </div>
  </div>
  <div class="footer-image">
    <img src="static/images/gaia-skyline.webp" alt="Gaia Skyline" width="795" />
  </div>
</footer>
