<nav>
  <div class="nav-header">
    <div class="nav-links">
      <a href="/login">Inforestudante</a>
      <a href="https://infordocente.ispgaya.pt/">Infordocente</a>
      <a href="https://outlook.office.com/">Email</a>
      <a href="https://horarios.ispgaya.pt/geral/">Horários</a>
    </div>
    <div class="nav-links">
      <a href="https://ispgaya.pt/pt/perguntas-frequentes"
        >Perguntas Frequentes</a
      >
      <a
        href="https://inforestudante.ispgaya.pt/nonio/security/preRegisto.do?origem=CANDIDATURAS"
        >Candidatura Online</a
      >
      <a href="https://ispgaya.pt/pt/instituicao/contactos">Contactos</a>
    </div>
  </div>
  <div>
    <a href="https://ispgaya.pt/pt">
      <img
        src="static/images/ispgaya-logo.png"
        alt="Logótipo do ISPGAYA"
        width="180"
      />
    </a>
    <div class="nav-links">
      <div>
        <span>Instituição</span>
        <ul class="submenu">
          <li><a href="https://ispgaya.pt/pt/instituicao/ispgaya">O ISPGAYA</a></li>
          <li><a href="https://ispgaya.pt/pt/instituicao/organizacao">Organização</a></li>
          <li><a href="https://ispgaya.pt/pt/instituicao/corpo-docente">Corpo Docente</a></li>
          <li><a href="https://ispgaya.pt/pt/instituicao/qualidade-institucional">Qualidade Institucional</a></li>
          <li><a href="https://ispgaya.pt/pt/instituicao/etica-e-boas-praticas">Ética e Boas Práticas</a></li>
          <li><a href="https://forms.office.com/pages/responsepage.aspx?id=k48R3u41CkqLhjR4-YtqcPwQbroJt3NMsk6PQjv_QKVUQ1Y2Qjg5WlNUV1dMU0wyT1RBWEJQRFE4TC4u">Emprego e Recrutamento</a></li>
          <li><a href="https://ispgaya.pt/pt/instituicao/titulo-especialista">Título Especialista</a></li>
          <li><a href="https://ispgaya.pt/pt/instituicao/contactos">Contactos</a></li>
        </ul>
      </div>
      <div>
        <span>Ensino</span>
        <ul class="submenu">
          <li><a href="https://ispgaya.pt/pt/ensino/oferta-formativa">Oferta Formativa</a></li>
          <li><a href="https://ispgaya.pt/pt/ensino/programas-avancados">Programas Avançados</a></li>
          <li><a href="https://ispgaya.pt/pt/ensino/candidaturas">Candidaturas</a></li>
          <li><a href="https://ispgaya.pt/pt/ensino/bolsas-e-financiamento">Bolsas e Financiamento</a></li>
          <li><a href="https://ispgaya.pt/pt/ensino/academica-cisco">Academia Cisco</a></li>
        </ul>
      </div>
      <div>
        <span>Empregabilidade</span>
        <ul class="submenu">
          <li><a href="https://ispgaya.pt/pt/empregabilidade/estagios-e-emprego">Estágios e Emprego</a></li>
          <li><a href="https://ispgaya.pt/pt/empregabilidade/alumni">Alumni</a></li>
        </ul>
      </div>
      <div>
        <span>Investigação</span>
        <ul class="submenu">
          <li><a href="https://ispgaya.pt/pt/investigacao/publicacoes-cientificas">Publicações Científicas</a></li>
          <li><a href="http://congress.ispgaya.pt/">Atividades Científicas</a></li>
          <li><a href="https://ispgaya.pt/pt/investigacao/biblioteca">Biblioteca</a></li>
          <li><a href="https://ispgaya.pt/pt/investigacao/wideskills">WIDESKILLS</a></li>
          <li><a href="https://ispgaya.pt/pt/investigacao/insight">INSIGHT</a></li>
          <li><a href="https://comum.rcaap.pt/handle/10400.26/54043">Politécnica</a></li>
        </ul>
      </div>
      <div>
        <span>Internacional</span>
        <ul class="submenu">
          <li><a href="https://international.ispgaya.pt/">Estudantes Internacionais</a></li>
          <li><a href="https://ispgaya.pt/pt/internacional/erasmus+">Erasmus+</a></li>
          <li><a href="https://ispgaya.pt/pt/internacional/guia-ects">Guia ECTS</a></li>
          <li><a href="https://ispgaya.pt/pt/internacional/q-helix-alliance">Q-Helix Alliance</a></li>
          <li><a href="https://ispgaya.pt/pt/internacional/amba-e-bga">AMBA e BGA</a></li>
        </ul>
      </div>
      <div>
        <span>Vida Académica</span>
        <ul class="submenu">
          <li><a href="https://ispgaya.pt/pt/vida-academica/noticias">Notícias</a></li>
          <li><a href="https://ispgaya.pt/pt/vida-academica/eventos">Eventos</a></li>
          <li><a href="https://ispgaya.pt/pt/vida-academica/estudante-ispgaya">Estudante ISPGAYA</a></li>
          <li><a href="https://ispgaya.pt/pt/vida-academica/associacao-estudantes">Associação de Estudantes</a></li>
          <li><a href="https://ispgaya.pt/pt/vida-academica/tuna-academica">Tuna Académica</a></li>
        </ul>
      </div>
      <div>
        <a href="/">Laboratório Cultural</a>
        <ul class="submenu">
          <li><a href="/clube-de-leitura">Clube de Leitura</a></li>
          <li><a href="/clube-de-teatro">Clube de Teatro</a></li>
          <li><a href="/programacao-cultural">Programação Cultural</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
